.rct-woocommerce-store-notice {
   
}
.rct-woocommerce-store-notice i{
	color:#345b8a;
	padding-right:5px;
}
.rct-lead-time-message p {
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.rc-request {
    padding: 40px 0px;
}