.rct-woocommerce-store-notice {}

.rct-woocommerce-store-notice i {
    color: #345b8a;
    padding-right: 5px;
}

.rct-lead-time-message p {
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.rc-request {
    padding: 40px 0px;
}

.mkl-pc-edit-link--container {
    display: none !important;
}

form.woocommerce-shipping-calculator.shipping_calculator {
    display: none;
}

.rc-request input[type="email"],
.rc-request textarea {
    background-color: #f1f1f1 !important;
    border: 1px solid #dddddd !important;
}

.rfq-cart-button {
    color: #fff !important;
    position: relative;
    top: 3px;
}